.container{
    margin-top: 50px;
    width: 60vw;
    margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .container{
        width: 100vw;
    }
  }

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
}

input{
    padding: 10px 20px;
    border-radius: 0px 20px;
    border: 5px solid plum;
}
select{
    padding: 10px 20px;
    border-radius: 0px 20px;
    border: 5px solid plum;
}
textarea{
    padding: 10px 20px;
    border-radius: 0px 20px;
    border: 5px solid plum;
}

body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    background-color: gray;
}

textarea::-webkit-scrollbar{
    width: 6px;
}
textarea::-webkit-scrollbar-thumb{
    background-color: gray;
}
